header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin-bottom: 1em;
}

header h3{
    margin: 0;
}

/*Drop down menu stuff*/


#header_dropdown_menu{
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 21vh;
    margin-left: 70%;
    z-index: 2;
    position: absolute;
}

#header_dropdown_menu button{
    width: 25vw;
    height: 5vh;
    text-align: center;
    padding: 3%;
    font-size: 1em;
}


/* header dropdown logic: when .menu-open works header_dropdown is displayed*/

body:is(.menu-open) .header_dropdown{
    display: flex;
}

body:not(.menu-open) .header_dropdown{
    display: none;
}

/* burger icon */

#header_burger_pic {
    display: inline-block;
    width: 15%;
    height: auto;
    margin-right: 1em;
}

#header_burger_pic:hover{
    background-color:red;
}

/* make sure buttons arent displaying */
.header_buttons {
    display: none;
}

/* general header styles*/

#header_menu {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#header_menu button {
    font-size: 1em;
    width: 15vw;
    height: auto;
}


/* Tablet breakpoint (600px and up) */
@media (min-width: 600px) {


    /* change menu look depends on size(add burger view) */
    header {
        justify-content: space-between;
    }

    #header_menu{
    }

    #header_burger_pic {
        display: none;
    }

    .header_buttons {
        display: block;
    }

    .header_dropdown{
        display: none;
    }

}

/* Small laptop / Desktop (1024px and up) */
@media (min-width: 1024px) {


    /* change menu look depends on size(add burger view) */

    header {
        justify-content: space-between;
    }

    #header_burger_pic {
        display: none;
    }

    .header_buttons {
        display: block;
    }

    .header_dropdown{
        display: none;
    }

}

/* Large Desktop (1440px and up) */
@media (min-width: 1440px) {

    /* change menu look depends on size(add burger view) */

    header {
        justify-content: space-between;
    }

    #header_burger_pic {
        display: none;
    }

    .header_buttons {
        display: block;
    }

    .header_dropdown{
        display: none;
    }

}